/* your styles go here */

.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

table {
  margin-bottom: 3.5em;
}

table thead,th {
  font-family: -apple-system, BlinkMacSystemFont, YuGothic, "游ゴシック", sans-serif;
}

h2 {
  font-family: -apple-system, BlinkMacSystemFont, YuGothic, "游ゴシック", sans-serif;
  padding: 0.25em 0.5em;/*上下 左右の余白*/
  background: transparent;/*背景透明に*/
  border-left: solid 5px #38a7bb;/*左線*/
}

h1,h3,h4 {
  font-family: -apple-system, BlinkMacSystemFont, YuGothic, "游ゴシック", sans-serif;
}

.navbar-brand img {
  vertical-align: middle;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}

@media (min-width: 768px) {
  .yamm .container {
    width: unset;
    padding-left: 24px;
    padding-right: 24px;
    position: relative;
  }
}

@media (max-width: 767px) {
  .yamm .navbar-header {
    position: relative;
  }
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
      padding: 21px 5px;
  }
}

@media (min-width: 844px) {
  .navbar-nav > li > a {
      padding: 21px 15px;
  }
}

body {
  margin-top: 62px;
}

.navbar-fixed-top {
  -webkit-box-shadow: 0 0 5px #cccccc;
  box-shadow: 0 0 5px #cccccc;
}

.btn {
font-weight: 700;
font-family: -apple-system, BlinkMacSystemFont, YuGothic, "游ゴシック", sans-serif;
font-size: 20px;
border-radius: 0px;
margin: 10px 0px;
}

.centralize {
text-align: center;
}