i.fa-angle-right{
    transition: .2s;
    a[aria-expanded="true"] &{
        transform: rotate(90deg);
    }
}

.gold, .best-solution{
    background-color: #eee7cc;
}

.silver {
    background-color: #eee;
}

.bronze {
    background-color: #edc;
}

.numbered-list.list-group{
    padding-left: 40px;
}

.numbered-list .list-group-item{
    display: list-item;
}

.list-fill-link{
    .list-group-item{
        padding: 0;
        a{
            display: block;
            padding: .75rem 1.25rem;
        }
    }
}

.navbar-light .navbar-nav .nav-link{
    color: #555;
    font-weight: 700;
}

$font-family: -apple-system, BlinkMacSystemFont, YuGothic, "游ゴシック", sans-serif;
body{
    font-family: $font-family;
    font-weight: 500;
}

.bar-zigzag:nth-child(even){
    text-align: right;
}

@import url(//db.onlinewebfonts.com/c/0c5e6f133b0b25edfed47aca4ab57676?family=Segoe+UI+Historic);
@font-face {font-family: "Segoe UI Historic"; src: url("https://db.onlinewebfonts.com/t/0c5e6f133b0b25edfed47aca4ab57676.eot"); src: url("https://db.onlinewebfonts.com/t/0c5e6f133b0b25edfed47aca4ab57676.eot?#iefix") format("embedded-opentype"), url("https://db.onlinewebfonts.com/t/0c5e6f133b0b25edfed47aca4ab57676.woff2") format("woff2"), url("https://db.onlinewebfonts.com/t/0c5e6f133b0b25edfed47aca4ab57676.woff") format("woff"), url("https://db.onlinewebfonts.com/t/0c5e6f133b0b25edfed47aca4ab57676.ttf") format("truetype"), url("https://db.onlinewebfonts.com/t/0c5e6f133b0b25edfed47aca4ab57676.svg#Segoe UI Historic") format("svg"); }

.hieroglyph{
    font-size: 38px;
    font-weight: 700;
    font-family: 'Segoe UI Historic';
    line-height: 1.5rem;
    td{
        text-align: center;
        min-width: 18px;
        @media (min-width: 576px) {
            min-width: 38px;
        }
    }
    .fn{
        font-size: medium;
        font-weight: 500;
        font-family: $font-family;
    }
}