{{$contest := .Get 0 | default "iol"}}
{{$data := index $.Site.Data.records (string (delimit (slice $contest "awarded") "-" ))}}
<table class="table">
    <thead>
        <tr>
            <th scope="col">賞</th>
            <th scope="col">年</th>
            <th scope="col">名前</th>
        </tr>
    </thead>
    <tbody>{{range sort $.Site.Params.awards "weight"}}
        {{$name := .name}}
        {{$contestants := sort (where $data "award" .key) "year" "desc" }}
        {{range $contestants}}
        <tr class="{{.award}}">
            <th scope="row">{{$name}}</th>
            <td>{{.year}}</td>
            <td>{{.name}}</td>
        </tr>
        {{end}}{{end}}
    </tbody>
</table>