{{ $data := $.Site.Data.appSys.account}}
{{ $steps := $data.steps }}
<div id="app-step" class="mb-4">
<h3 class="app-step-title">すること</h3>
<h3 class="app-step-title"><i class="fas fa-check-circle fa-fw success"></i>応募完了！</h3>
    <div class=row>{{range $steps}}
        <div class="col-md-6">
            <div class="card step-card" id="{{.id}}">
                <a class="spread" href="{{.ref | safeURL}}"></a>
                <div class="card-body p-0">
                    <div class="step-status"><i class="fas fa-{{.icon}}"></i><i class="fas fa-check-circle"></i></div>
                    <p class="step-name pl-3">{{.name}}</p>
                </div>
            </div>
        </div>{{end}}
    </div>
</div>

<div id="app-cont-info" class="mb-4">
    <h3 id="header-info">受験者情報</h3>
    <p id="app-cont-info-status"></p>
    <button id="edit-info" onclick="enableForm()" class="btn btn-primary">編集</button>
    <form onsubmit="infoSubmit(); return false;" class="needs-validation">
        <div class="form-group">
          <label for="input-email">メールアドレス</label>
          <input disabled type="email" class="form-control-plaintext" id="input-email" aria-describedby="input-emailHelp">
          <small id="input-emailHelp" class="form-text text-muted">変更不可</small>
        </div>
        <div class="form-group was-validated">
          <label for="input-name">氏名(フルネーム)</label>
          <input disabled required class="form-control-plaintext" id="input-name">
        </div>
        <div class="form-group was-validated">
            <label for="input-name-roman">氏名(ローマ字)</label>
            <input disabled required pattern="^[0-9A-Za-z\s]+$" class="form-control-plaintext" id="input-name-roman" aria-describedby="input-name-roman-help">
            <small id="input-name-roman-help" class="form-text text-muted">半角英数</small>
        </div>
        <div class="form-group was-validated">
            <label for="input-birthdate">生年月日</label>
            <input disabled required type="date" class="form-control-plaintext" id="input-birthdate">
        </div>
        <div class="form-group">
            <label for="input-school-name">現在の所属学校名</label>
            <input disabled type="text" class="form-control-plaintext" id="input-school-name" aria-describedby="input-school-name-help">
            <small id="input-school-name-help" class="form-text text-muted">選抜参加者のみ．正式名称を略さずに記入．所属していなければ「なし」</small>
        </div>
        <div class="form-group">
            <label for="input-grade">現在の学年</label>
            <input disabled type="number" class="form-control-plaintext" id="input-grade" aria-describedby="input-grade-help">
            <small id="input-grade-help" class="form-text text-muted">選抜参加者のみ．数字．所属していなければ-1</small>
        </div>
        <div class="form-group">
            <div class="custom-control custom-checkbox">
                <input disabled type="checkbox" class="custom-control-input" id="input-publish" aria-describedby="input-publish-help">
                <label class="custom-control-label" for="input-publish">ウェブページへの氏名の掲載を希望しない</label>
                <small id="input-publish-help" class="form-text text-muted">選抜参加者のみ．掲載を希望しない場合はチェックする</small>
            </div>
        </div>
        <div class="form-group">
            <p>選抜参加者は日本言語学オリンピックへの応募にあたって保護者に有効な同意を得ているものとみなします．</p>
        </div>
        <button disabled id="update-info" type="submit" class="btn btn-primary" style="opacity: 0;">更新</button>
      </form>
</div>