<div id="account-contests" class="row">
  <div class="col-lg-6">
    <h3 id="contests">大会</h3>
    <div id="account-upcoming-contests" class="list-group list-group-flush mb-2">{{range $.Site.Data.contests.upcomingContests}}
      <div id="contest-{{.id}}" class="list-group-item" style="display: none;">
        <div class="">
          <button id="pre-{{.id}}" disabled class="btn btn-outline-dark float-right" style="display: none;">{{if .limited}}<i class="fas fa-flag fa-fw"></i>要選抜{{else}}開催予定{{end}}</button>
          {{if isset . "entry"}}<a id="entryopen-{{.id}}" href="{{.entry | safeHTML}}" class="btn btn-primary float-right" role="button" style="display: none;">{{if .limited}}<i class="fas fa-file-alt fa-fw"></i>応募{{end}}</a>{{end}}
          <button id="entried-{{.id}}" disabled class="btn btn-outline-success float-right" style="display: none;"><i class="fas fa-check-circle fa-fw"></i>応募済</button>
          {{if isset . "site"}}<a id="siteopen-{{.id}}" href="{{.site | safeHTML}}" class="btn btn-primary float-right" role="button" style="display: none;"><i class="fas fa-puzzle-piece fa-fw"></i>大会ページ</a>{{end}}
          <div>
            <small>{{.desc1}}</small>
            <small>{{range split .desc2 "|"}}<span class="unmot">{{.}}</span>{{end}}</small>
          </div>
        </div>
        <p class="mb-1"></p>
        <h5 class="text-moderate">{{.title}}</h5>
        {{with .detail}}<a class="card-link" href="{{. | safeHTML}}">詳細</a>{{end}}
        {{if isset . "entry"}}<a id="entried-{{.id}}-link" class="card-link" href="{{.entry | safeHTML}}"><i class="fas fa-user-edit fa-fw"></i>確認</a>{{end}}
      </div>{{end}}
    </div>
  </div>
  <div class="col-lg-6">
    <h3 id="results">結果</h3>
    <div id="account-past-contests" class="list-group list-group-flush mb-2">{{range $.Site.Data.contests.pastContests}}
      <div id="contest-{{.id}}" class="list-group-item" style="display: none;">
        <div class="">
          <button id="marking-{{.id}}" disabled class="btn btn-outline-dark float-right" style="display: none;">採点中</button>
          {{if isset . "result"}}<a id="resultopen-{{.id}}" href="{{.result | safeHTML}}" class="btn btn-info float-right" role="button" style="display: none;"><i class="fas fa-trophy fa-fw"></i>結果公開</a>{{end}}
          <div>
            <small>{{.desc1}}</small>
            <small class="unmot">{{.desc2}}</small>
          </div>
        </div>
        <p class="mb-1"></p>
        <h5 class="text-moderate">{{.title}}</h5>
        {{with .detail}}<a class="card-link" href="{{.}}">詳細</a>{{end}}
        {{with .record}}<a class="card-link" href="{{.}}">統計</a>{{end}}
      </div>{{end}}
    </div>
  </div>
</div>