{{ if isset .Site.Params "clients" }}
{{ if .Site.Params.clients.enable }}
{{ if gt (len .Site.Data.clients.data) 0 }}
{{$clients := .Site.Data.clients}}
<section class="bar no-mb grad grad-white">
  <div class="jumbotron">
    <div class="text-center">
      <h1>{{ $clients.meta.title }}</h1>
    </div>

    {{range $i, $v := $clients.meta.types}}
    <h1 class="fs-2 text-center">{{$v}}</h1>
    <div class="container">
      <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 justify-content-center">
        {{ range where $clients.data "type" $i }}
        <div class="col">
          <p class="fs-2 text-center text-dark">{{if .link}}<a href="{{.link}}">{{.name}}</a>{{else}}{{.name}}{{end}}</p>
        </div>
        {{ end }}
      </div>
    </div>
    {{ end }}
  </div>
</section>
{{ end }}
{{ end }}
{{ end }}