<section class="bar grad grad-green">
    <div class="jumbotron">
        <h1><span class="unmot">言語の不思議に</span><span class="unmot">触れてみませんか？</span></h1>
        <p>言語学オリンピックは<span class="unmot">言語を分析する能力を競う</span><span class="unmot">科学オリンピックの一大会です</span></p>
        <a class="btn btn-template-main" href="/information/">もっとよむ</a>
    </div>
</section>
<section class="bar grad grad-white">
    <div class="jumbotron">
        <h1><span class="unmot">過去問を</span><span class="unmot">解いてみよう</span></h1>
        <p><span class="unmot">出題されるのは</span><span class="unmot">論理力と探求心で</span><span class="unmot">0から</span><span class="unmot">言語のしくみを解明する</span><span class="unmot">謎解きチックな</span><span class="unmot">言語分析パズル！</span></p>
        <a class="btn btn-template-main" href="/preparation/">もっとよむ</a>
    </div>
</section>
<section class="bar grad grad-pink">
    <div class="jumbotron">
        <h1><span class="unmot">日本代表を</span><span class="unmot">応援しよう</span></h1>
        <p><span class="unmot">世界36カ国54チームの</span>代表が<span class="unmot">一堂に会す韓国大会に</span><span class="unmot">2チーム8名の日本代表が</span><span class="unmot">参加します</span></p>
        <a class="btn btn-template-main" href="/iol2019/">もっとよむ</a>
    </div>
</section>
<section class="bar grad grad-yellow">
    <div class="jumbotron">
        <h1><span class="unmot">代表選抜に</span><span class="unmot">あなたも挑戦！</span></h1>
        <p><span class="unmot">20歳未満で大学未入学なら</span><span class="unmot">誰でも応募できます(12月応募開始)</span></p>
        <a class="btn btn-template-main" href="/application/">もっとよむ</a>
    </div>
</section>
<section class="bar grad grad-blue">
    <div class="jumbotron">
        <h1><span class="unmot">未来の代表に</span><span class="unmot">広めよう</span></h1>
        <p>学校やSNSで言語学オリンピックを<span class="unmot">広めてください！</span></p>
        <a class="btn btn-template-main" href="/preparation/#material">もっとよむ</a>
    </div>
</section>