{{$data := $.Site.Data.contestsInfo}}
<div class="row nogutters mb-4">
{{range $data}}
<div class="card mb-3 col-md-6 col-xl-4">
  <h5 class="card-title">{{.title}}</h5>
  <div class="row no-gutters">
    <div class="col-3">
      <img src="{{.img}}" class="card-img" alt="{{.abbr}}logo" style="width: 100%;height:auto">
    </div>
    <div class="col-9">
      <div class="card-body py-0">
        <p class="card-text">{{.desc1}}</p>
        <p class="card-text"><small class="text-muted">{{.desc2}}</small></p>
      </div>
    </div>
  </div>
</div>
{{end}}
</div>